# Ignorar datos
#data
simulation
evaluation/results
evaluation/data_1/aging/*
evaluation/data_1/all/*
evaluation/data_1/stressed/*
evaluation/data_1/fresh/*
evaluation/data_1/electrical/*
evaluation/data_1/thermal/*
evaluation/data_2/aging/*
evaluation/data_2/all/*
evaluation/data_2/stressed/*
evaluation/data_2/fresh/*
evaluation/data_2/electrical/*
evaluation/data_2/thermal/*
evaluation/data_3/aging/*
evaluation/data_3/all/*
evaluation/data_3/stressed/*
evaluation/data_3/fresh/*
evaluation/data_3/electrical/*
evaluation/data_3/thermal/*
evaluation/data_4/aging/*
evaluation/data_4/all/*
evaluation/data_4/stressed/*
evaluation/data_4/fresh/*
evaluation/data_4/electrical/*
evaluation/data_4/thermal/*
evaluation/__pycache__
optimization/__pycache__
optimization_algorithm/no_opt_results/data_1/aging/*
optimization_algorithm/no_opt_results/data_1/all/*
optimization_algorithm/no_opt_results/data_1/stressed/*
optimization_algorithm/no_opt_results/data_1/fresh/*
optimization_algorithm/no_opt_results/data_1/electrical/*
optimization_algorithm/no_opt_results/data_1/thermal/*
optimization_algorithm/no_opt_results/data_2/aging/*
optimization_algorithm/no_opt_results/data_2/all/*
optimization_algorithm/no_opt_results/data_2/stressed/*
optimization_algorithm/no_opt_results/data_2/fresh/*
optimization_algorithm/no_opt_results/data_2/electrical/*
optimization_algorithm/no_opt_results/data_2/thermal/*
optimization_algorithm/no_opt_results/data_3/aging/*
optimization_algorithm/no_opt_results/data_3/all/*
optimization_algorithm/no_opt_results/data_3/stressed/*
optimization_algorithm/no_opt_results/data_3/fresh/*
optimization_algorithm/no_opt_results/data_3/electrical/*
optimization_algorithm/no_opt_results/data_3/thermal/*
optimization_algorithm/no_opt_results/data_4/aging/*
optimization_algorithm/no_opt_results/data_4/all/*
optimization_algorithm/no_opt_results/data_4/stressed/*
optimization_algorithm/no_opt_results/data_4/fresh/*
optimization_algorithm/no_opt_results/data_4/electrical/*
optimization_algorithm/no_opt_results/data_4/thermal/*
optimization_algorithm/opt_results/data_1/aging/*
optimization_algorithm/opt_results/data_1/all/*
optimization_algorithm/opt_results/data_1/stressed/*
optimization_algorithm/opt_results/data_1/fresh/*
optimization_algorithm/opt_results/data_1/electrical/*
optimization_algorithm/opt_results/data_1/thermal/*
optimization_algorithm/opt_results/data_2/aging/*
optimization_algorithm/opt_results/data_2/all/*
optimization_algorithm/opt_results/data_2/stressed/*
optimization_algorithm/opt_results/data_2/fresh/*
optimization_algorithm/opt_results/data_2/electrical/*
optimization_algorithm/opt_results/data_2/thermal/*
optimization_algorithm/opt_results/data_3/aging/*
optimization_algorithm/opt_results/data_3/all/*
optimization_algorithm/opt_results/data_3/stressed/*
optimization_algorithm/opt_results/data_3/fresh/*
optimization_algorithm/opt_results/data_3/electrical/*
optimization_algorithm/opt_results/data_3/thermal/*
optimization_algorithm/opt_results/data_4/aging/*
optimization_algorithm/opt_results/data_4/all/*
optimization_algorithm/opt_results/data_4/stressed/*
optimization_algorithm/opt_results/data_4/fresh/*
optimization_algorithm/opt_results/data_4/electrical/*
optimization_algorithm/opt_results/data_4/thermal/*
optimization_algorithm/pair_selection/*
__pycache__

# Ignorar logs
logs/

# Ignorar archivos temporales
*.log
*.tmp